* {
  box-sizing: border-box;
}

html, body {
 margin: 0;
 padding: 0;
 font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* =================================================================== */

body{
  background-color: #EEF0F2;
  font-family: 'Quicksand', sans-serif;

}

.main-wrapper{
  width: 95%;
 margin: auto;
}

.grid-wrap{
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(4, minmax(160px, 1fr));
  grid-gap: 18px;
}


h1{
  font-weight: lighter;
  color: black;
  margin-top: 1em;
  margin-left: 1.5em;
}

.grid-contain-1,
.grid-contain-2,
.grid-contain-3,
.grid-contain-4,
.grid-contain-5,
.grid-contain-6,
.grid-contain-7,
.grid-contain-8,
.grid-contain-9,
.grid-contain-10,
.grid-contain-11,
.grid-contain-12{
  background-color: #FAFAFF;
  width: 88%;
  height: 100%;
  margin: auto;
  border: 1px solid lightgrey;
  border-radius: 10px;
  display: flex;

}

.grid-hover {
  transition: all .6s ease-out;
}

.grid-hover:hover{
  border: 1px solid #2C2C54;
  transform: scale(1.05);
  opacity: .9;
}


img{
  width: 80%;
  border: 1px solid #EBF5EE;
  border-radius: 50%;
  margin-top: 1em;
  margin-left: 1em;
}
