* {
  box-sizing: border-box;
}

html, body {
 margin: 0;
 padding: 0;
 font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* =================================================================== */

body{
  background-color: #EEF0F2;
  font-family: 'Quicksand', sans-serif;

}

.main-wrapper{
  width: 95%;
  margin: auto;
}

.grid-wrap{
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(4, minmax(160px, 1fr));
  grid-gap: 18px;
}


h1{
  font-weight: lighter;
  color: black;
  margin-top: 1em;
  margin-left: 1.5em;
}

.grid-contain{
  background-color: #FAFAFF;
  width: 88%;
  height: 100%;
  margin: auto;
  border: 1px solid lightgrey;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  transition: all .6s ease-out;
}

.grid-contain:hover {
  border: 1px solid #2C2C54;
  transform: scale(1.05);
}

.avatar-name {
  margin-top: 2.2em;
  margin-left: 1em;
  font-size: 1.1em;
  text-transform: capitalize;
  font-weight: bolder;
  color: #2C2C54;
}

.avatar-email {
  margin-top: 0;
  margin-bottom: .65em;
  padding-left: .5em;
  font-size: .9em;
  color: #B2B2C0;
}

.avatar-city {
  margin-top: 0;
  padding-left: .5em;
  font-size: .9em;
  color: #B2B2C0;
}

img {
  width: 80%;
  border: 1px solid #EBF5EE;
  border-radius: 50%;
  margin-top: .6em;
  margin-left: 1em;
}




.modal{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

}

.modal-view{
  width: 90%;
  display: flex;
  justify-content:center;
  align-items: center;
  margin: auto;
}

.modal-avatar{
  margin-top: 1em;
  width: 50%;
}

.modal-block {
  width: 350px;
  height: 450px;
  background-color: #ffffff;
  border: 1px solid #E1E2EF;
  border-radius: 10px;
  margin: auto;
  display: none;
}

#close {
  margin-top: 1em;
  margin-right: 1em;
  background-color: #E1E2EF;
  color: grey;
  border: 1px solid #625F63;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: all .3s linear;
  float: right;
}

#close:hover{
  color: white;
  background-color: #440D0F;
  border: 1px solid #ffffff;
}
